body {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 90vh;
    background-color: black;
    color:white;
    background-size: 100vw;
    margin: 0px;
    padding: 0px;
}


header {
    padding: auto;
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 1;
    background-color: rgb(250, 250, 236);
    color: rgb(59, 59, 59);
    text-align: center;
    font-size: 3.8vw;
    font-family: 'Aldrich', sans-serif;
}

.content{
    opacity: 1;
    display: grid;
    grid-template-columns:  50% 50%;
    grid-template-rows: 33.33% 33.33% 33.33%;
}

.hidden{
    opacity: 0;
}


.resultDiv{
    opacity: 0.5;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
    color: black;
    background-color: white;
    width: 30%;
    height: 40%;
    font-size: 4vh;
    text-align: center;
    background-image: url("images/familyfun.jpg");
    background-size: 100%;

}

.bigTextBox{
    top: 12%;
    background-color: rgb(24, 24, 24);
    text-align: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    justify-content: center;

    /* font-family: 'Bowlby One SC', cursive; */
    font-family: 'Aldrich', sans-serif;
}

.bigTitle{
    grid-column: 1;
    grid-row: 1/2;
    font-size: 20vh;
    position: relative;
    top: 10%;
    ++++: translateY(10%)
}

.littleTitle{
    grid-column: 1;
    grid-row: 2/3;
    font-size: 4vh;
}

.what{
    grid-column: 1/2;
    grid-row: 1;
    background-color: rgb(235, 63, 66);
}

.where{
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: rgb(255, 123, 0);
}

.how{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgb(0, 14, 206);
}

.search-container{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    margin: auto;
    grid-column: 1;
    grid-row: 2/3;

}

.mapFrame{
    text-align: center;
    width: 100%;
    height: 100%;
}

.results-container{
    z-index: 05;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
    position: absolute;
    width: 80%;
    text-align: center;
    grid-column: 1;
    grid-row: 2/3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}

#searchTerm{
    width: 50vmin;
    height: 6vmin;
    border: none;
    font-size: 2vw;
    border-radius: 5px; 

}

.searchButton{
    height: 6vmin;
    border: none;
    font-size: 2vw;
    border-radius: 5px;  
}

iframe{
    position: relative;
    margin: auto;
    grid-column: 1;
    grid-row: 2/3;
}

.youtube-video{
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 10% auto;
    width: 100%;
    height: 100%;
    background-color: black;
    /* border: 2px solid rgb(0, 14, 206); */

}

.videoWrapper{
    position: relative;
    width: 75%;
    height: 100%;
    margin: 0% auto;
    
}

.youtubeIframe{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
}

.google-map{
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: black;
    /* border: 2px solid rgb(255, 123, 0); */
}


.wiki-content{
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: 10% 50% 40 ;
    grid-column: 2/3;
    grid-row: 1/2;
    overflow: hidden;
    background-color: black;
    overflow: scroll;
}

.wiki-content::-webkit-scrollbar{
    display: none;
}

.wiki-description{
    font-size: 2vh;
    grid-column: 1;
    grid-row: 3/4;
    font-family: 'Fjalla One', sans-serif;
    padding: 1vw;
    font-size: 3.5vh;
}

.wiki-title{
    font-size: 6vh;
    text-align: center;
    grid-column: 1;
    grid-row: 1/2;
    font-family: 'Fjalla One', sans-serif;
}

.flickr-images{
    grid-column: 2/3;
    grid-row: 1/2;
}

#theImg{
    height: auto;
    width: 80%;
    margin: 0% auto;
}

.search-container-test{
    position: relative;
    width: 100%;
    text-align: center;
    margin: auto;
    top: 20%;
    grid-column: 1;
    grid-row: 1;

}

.pulse {
    font-size: 1vw;
    position: fixed;
    top: 1%;
    left: 1%;
    margin: 0;
    --color: #13cf0c;
    --hover: #6eef6e;
  }

.pulse:hover,
.pulse:focus {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  -webkit-box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
          box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 var(--hover);
            box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 var(--hover);
            box-shadow: 0 0 0 0 var(--hover);
  }
}
button {
    background-color: rgb(71, 190, 42);
    color: white;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    z-index: 6;
  }

  .titleBar {  
    height: 35%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.536);
    margin-top: 35%;
    color: white;
    font-family: 'Aldrich', sans-serif;  
 }
 
 .resultDiv:hover {
   opacity: 1;
 }