body {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5vh 95vh;
    background-color: rgb(102, 102, 102);
    color: white;
}
/*h1 {
	margin: 0;
}

.content-text-box {
	position: absolute;
	width: 1100px;
	top: 40%;
	left: 40%;
	transform: translate(-50%, -50%);
	text-align: center;
}*/

header {
    width: 100vw;
    height: 100vh;
    grid-column: 1;
    grid-row: span;
    background-image: url('assets/background.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
}

.content{
    display: grid;
    grid-template-columns:  50% 50%;
    grid-template-rows: 33.33% 33.33% 33.33%;
}

.resultDiv{
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
    color: black;
    background-color: white;
    width: 30%;
    font-size: 4vh;
    text-align: center;
}

.bigTextBox{
    background-color: grey;
    text-align: center;
}

.what{
    grid-column: 1/2;
    grid-row: 1;
}

.where{
    grid-column: 1/2;
    grid-row: 3/4;
}

.how{
    grid-column: 2/3;
    grid-row: 2/3;
}

.search-container{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    margin: auto;
    grid-column: 1;
    grid-row: 2/3;

}

.results-container{
    position: absolute;
    width: 100%;
    text-align: center;
    margin: auto;
    grid-column: 1;
    grid-row: 2/3;

}

#searchTerm{
    width: 50vmin;
    height: 6vmin;
    border: none;
    font-size: 2vw;
    border-radius: 5px; 

}

.searchButton{
    height: 6vmin;
    border: none;
    font-size: 2vw;
    border-radius: 5px;  
}

iframe{
    position: relative;
    margin: auto;
    grid-column: 1;
    grid-row: 2/3;
}

.youtube-video{
    grid-column: 1;
    grid-row: 1;
    padding: 10% auto;
    width: 100%;
    height: 100%;
}

.videoWrapper{
    position: relative;
    width: 75%;
    height: 100%;
    margin: 0% auto;
    
}

.youtubeIframe{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
}

.google-map{
    grid-column: 2/3;
    grid-row: 1;
}


.wiki-content{
    grid-column: 1/2;
    grid-row: 2/3;
}

.flickr-images{
    grid-column: 2/3;
    grid-row: 2/3;
}

#theImg{
    height: auto;
    width: 80%;
    margin: 0% auto;
}

.search-container-test{
    position: relative;
    width: 100%;
    text-align: center;
    margin: auto;
    top: 20%;
    grid-column: 1;
    grid-row: 1;

}